body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: var(--primary);
  background-image: url('patronus.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: rgb(10, 10, 10,0.5);
  
}
