<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harry Potter Ontology</title>
    <link rel="stylesheet" href="../static/web.css">
    
</head>
    <body>
                 <section class="dis">
                    <header>
                        <h2 class="heading">Harry Potter World</h2>
                        <div class="toggle"></div>
                    </header>
                    <video src="../static/Harry.mp4" muted loop autoplay></video>
                    <div class="vid"></div>
                    <div class="text">
                        <h2>Wizarding World Queries</h2>
                        <br><br><br>
                <label for="Query">Choose a Query :  </label>
                <div class="multi-button">
                    <form method="POST">
                        <input type="submit" name="submit_button" value="The House with the most females" class="multi-button_button" />
                        <input type="submit" name="submit_button" value="Wizards who are male and pureblood" class="multi-button_button" />
                        <input type="submit" name="submit_button" value="Which wizards have a Patronus" class="multi-button_button" />
                        <input type="submit" name="submit_button" value="House that won most quidditch matches" class="multi-button_button" />
                        <input type="submit" name="submit_button" value="What are the effects of a certain spell" class="multi-button_button" />
                        <input type="submit" name="submit_button" value="Students whose wands were 10 inches long" class="multi-button_button" />
                    </form>
                </div>
            </body>
                
               

               

